body {
	margin: 0;
	background-color: #282923; 
}

header {
	display: flex;
	justify-content: center;
	background-color: #165063; 
	height: 102px;
}

.header-button {
	height: 102px;
	width: 230px;
	background-color: #165063;
	border: none; 
	color: white;
	font-family: sans-serif;
	font-size: 22px
}

.logotype {
	margin-right: 790px;
}

.hover-wrap {
	display: none;
}

.wrapper-card {
	margin: auto;
	margin-top: 50px;
	width: 1000px;
	height: 450px;
	background-color: #165063; 
}